<%= simple_form_for(@species) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :gender_id, collection: Gender.all.map { |gender| [gender.name, gender.id] } %>
    <%= f.input :beak_type_id, collection: BeakType.all.map { |beak| [beak.name, beak.id] } %>
    <%= f.input :size_id, collection: Size.all.map { |size| ["#{formatted_size(size)}", size.id] } %>
    <%= f.input :quantity_egg_id, collection: QuantityEgg.all.map { |eggs| [eggs.description, eggs.id] } %>
    <h3>Agregar Zona</h3>
    <div id="zones">
      <%= f.simple_fields_for :zones do |zone| %>
        <%= render 'zone_fields', f: zone %>
      <% end %>
      <div class="nested-link">
        <%= link_to_add_association 'Add Zone', f, :zones %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
