<%= render 'layouts/user_header_menu' %>
<div class="row">
  <div class="columns large-10 large-centered">
    <p id="notice"><%= notice %></p>

    <p>
      Exportar:
      <%= link_to "CSV", species_index_path(format: :csv) %> |
      <%= link_to "Excel", species_index_path(format: :xls) %>
    </p>


    <p>Lista de Especies</p>

    <table class="full-width-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Género</th>
          <th>Tipo Pico</th>
          <th>Tamaño</th>
          <th>Cantidad de Huevos</th>
          <th>Zonas</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @species.each do |species| %>
          <tr>
            <td><%= species.name %></td>
            <td><%= species.gender.name %></td>
            <td><%= formatted_beak_type(species) %></td>
            <td><%= formatted_size(species.size_id) %></td>
            <td><%= formatted_eggs_quantity(species) %></td>
            <td><%= formatted_zones_info(species) %></td>
            <td><%= link_to 'Editar', edit_species_path(species) %></td>
            <td><%= link_to 'Eliminar', species, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nueva Especie', new_species_path, class: 'round tiny button success right' %>
  </div>
</div>
