<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @species.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @species.gender.name %>
</p>

<p>
  <strong>Beak:</strong>
  <%= formatted_beak_type(@species) %>
</p>

<p>
  <strong>Size:</strong>
  <%= formatted_size(@species.size_id) %>
</p>

<p>
  <strong>Quantity of Eggs:</strong>
  <%= formatted_eggs_quantity(@species) %>
</p>

<p>
  <strong>Zones:</strong>
  <ul>
    <%- @species.zones.each do |zone| %>
      <li><%= formatted_zone_name(zone) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
