<%= simple_form_for(@family) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :sub_order_id, collection: SubOrder.all.map { |sub_order| [sub_order.name, sub_order.id] } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "#{action_name == 'new' ? 'Crear' : 'Actualizar' }", class: 'right tiny button success round' %>
    <%= link_to 'Cancelar', families_path, class: 'left tiny round button alert' %>
  </div>
<% end %>
