<%= render 'layouts/user_header_menu' %>
<div class="row">
  <div class="columns large-4 large-centered">
    <p id="notice"><%= notice %></p>

    <p>
      Exportar:
      <%= link_to "CSV", families_path(format: :csv), class: "exportation-link" %> |
      <%= link_to "Excel", families_path(format: :xls), class: "exportation-link" %>
    </p>

    <p>Listing Families</p>

    <table class="full-width-table">
      <thead>
        <tr>
          <th>Suborden</th>
          <th>Nombre</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @families.each do |family| %>
          <tr>
            <td><%= family.sub_order.name %></td>
            <td><%= family.name %></td>
            <td><%= link_to 'Editar', edit_family_path(family) %></td>
            <td><%= link_to 'Eliminar', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nueva Familia', new_family_path, class: 'tiny button success round right' %>
  </div>
</div>
