<%= render "layouts/user_header_menu" %>

<div class="row">
  <p id="notice"><%= notice %></p>

  <div class="row collapse">
    <%= link_to 'Editar', edit_user_path(@user), class: 'left success round small button' %>
  </div>
  <br/>

  <div class="columns large-6">
    <h3>Nombre de Usuario: <p><%=  @user.username %></p></h3>
    <h3>Correo: <p><%= formatted_email(@user) %></p></h3>
    <h3>Tipo de Usuario: <p><%= formatted_user_type(@user) %></p></h3>
  </div>

  <div class="columns large-6">
    <h3>Nombre: <p><%=  formatted_person_name(@user) %></p></h3>
    <h3>Apellido: <p><%= formatted_person_lastname(@user) %></p></h3>
    <h3>Cédula: <p><%= formatted_person_identifier(@user) %></p></h3>
  </div>

</div>

