<div class="row">

  <div class="columns large-3">
    <%= link_to kinds_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Clases
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to orders_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Ordenes
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to sub_orders_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Subordenes
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to families_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Familias
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to genders_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Géneros
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to species_index_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Especies
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to quantity_eggs_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Cantidad de Huevos
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to colors_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Colores
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to zones_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Zonas
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to beak_types_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Tipos de Pico
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to sizes_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Tamaños
      </div>
    <% end %>
  </div>

  <div class="columns large-3">
    <%= link_to common_names_path do %>
      <div class="panel callout columns large-3 text-center radius full-width-table">
        Nombres Comunes
      </div>
    <% end %>
  </div>
</div>
