<%= render 'layouts/user_header_menu' %>
<div class="row">
  <div class="columns large-4 large-centered"><p id="notice"><%= notice %></p>

    <p>
      Exportar:
      <%= link_to "CSV", sizes_path(format: :csv), class: "exportation-link" %> |
      <%= link_to "Excel", sizes_path(format: :xls), class: "exportation-link" %>
    </p>

    <p>Listing Sizes</p>

    <table class="full-width-table">
      <thead>
        <tr>
          <th>Descripción</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @sizes.each do |size| %>
          <tr>
            <td><%= size.description %></td>
            <td><%= link_to 'Editar', edit_size_path(size) %></td>
            <td><%= link_to 'Eliminar', size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Tamaño', new_size_path, class: 'round tiny button success right' %>
  </div>
</div>
