<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :kind_id, collection: Kind.all.map { |kind| [kind.name, kind.id] } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,"#{action_name == 'new' ? 'Crear' : 'Actualizar' }" , class: 'tiny round button success right' %>

    <%= link_to 'Cancelar', orders_path, class: 'tiny round button alert left' %>
  </div>
<% end %>
