<div class="row">
  <div class="columns large-4 large-centered">
    <p id="notice"><%= notice %></p>

    <p>
      Exportar:
      <%= link_to "CSV", orders_path(format: :csv) %> |
      <%= link_to "Excel", orders_path(format: :xls) %>
    </p>

    <h1>Lista de Ordenes</h1>

    <table class="full-width-table">
      <thead>
        <tr>
          <th>Clase</th>
          <th>Nombre</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.kind.name %></td>
            <td><%= order.name %></td>
            <td><%= link_to 'Editar', edit_order_path(order) %></td>
            <td><%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Orden', new_order_path, class:"right tiny button round success" %>
  </div>
</div>
