<%= simple_form_for(@zone) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "#{ action_name == 'new' ? 'Crear' : 'Actualizar'}", class: 'round tiny button success right' %>
    <%= link_to 'Cancelar', zones_path, class: 'alert tiny button left round' %>
  </div>
<% end %>
