<div class="row">
  <div class="columns large-4 large-centered"><p id="notice"><%= notice %></p>

    <p>
      Exportar:
      <%= link_to "CSV", zones_path(format: :csv) %> |
      <%= link_to "Excel", zones_path(format: :xls) %>
    </p>

    <h1>Listing Zones</h1>

    <table class="full-width-table">
      <thead>
        <tr>
          <th>Descripción</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @zones.each do |zone| %>
          <tr>
            <td><%= zone.description %></td>
            <td><%= link_to 'Editar', edit_zone_path(zone) %></td>
            <td><%= link_to 'Eliminar', zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nueva Zona', new_zone_path, class: 'round tiny button success right' %>
</div>
</div>
