<%= render "layouts/user_header_menu" %>

<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Lista de Aves</h1>
</div>

<% @birds.each do |bird| %>
  <%= link_to bird_path(bird) do %>
    <div class="row panel callout">

      <div class="columns large-3">
        <td><%= image_tag('https://s-media-cache-ak0.pinimg.com/236x/46/88/65/46886577309967ec698ffe37fb800b78.jpg') %></td>
      </div>

      <div class="columns large-2">
        <td><%= bird.common_name %></td>
      </div>

      <div class="columns large-7">
        <td><%= bird.description %></td>
      </div>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="columns large-4 large-centered">
    <%= paginate @birds%>
  </div>
</div>
