<%= render "layouts/user_header_menu" %>

<div class="row">
  <div class="row collapse">
    <%= link_to 'Editar', edit_bird_path(@bird), class: 'small success round button' %> |
    <%= link_to 'Mi dalbum', birds_path, class: 'small info round button' %>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre común:</strong>
    <%= @bird.commonName %>
  </p>

  <p>
    <strong>Nombre científico:</strong>
    <%= @bird.scientificName %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= @bird.description %>
  </p>

</div>
