<p id="notice"><%= notice %></p>

<p>
  <strong>Commonname:</strong>
  <%= @bird.commonName %>
</p>

<p>
  <strong>Scientificname:</strong>
  <%= @bird.scientificName %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bird.description %>
</p>

<%= link_to 'Edit', edit_bird_path(@bird) %> |
<%= link_to 'Back', birds_path %>
