<%= simple_form_for(@gender) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :family_id, collection: Family.all.map { |family| [family.name, family.id] }  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
