<%= render 'layouts/user_header_menu' %>
<div class="row">
  <div class="columns large-4 large-centered"><p id="notice"><%= notice %></p>

    <p>
      Exportar:
      <%= link_to "CSV", genders_path(format: :csv), class: "exportation-link" %> |
      <%= link_to "Excel", genders_path(format: :xls), class: "exportation-link" %>
    </p>

    <p>Lista de Géneros</p>

    <table class="full-width-table">
      <thead>
        <tr>
          <th>Familia</th>
          <th>Nombre</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @genders.each do |gender| %>
          <tr>
            <td><%= gender.family.name %></td>
            <td><%= gender.name %></td>
            <td><%= link_to 'Editar', edit_gender_path(gender) %></td>
            <td><%= link_to 'Eliminar', gender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Género', new_gender_path, class: 'round tiny button success right' %>
  </div>
</div>
