<div class="row">
  <%= link_to "Salir", destroy_user_session_path, method: :delete, class: 'right tiny button success' %>
  <%- unless current_user.admin? %>
    <%= link_to "Nueva Ave", new_bird_path , class: 'right tiny button success' %>
    <%= link_to "Mi Dalbum", birds_path, class: 'right tiny button success' %>
  <% end %>
  <%= link_to "Mi Perfil", user_path(current_user), class: 'right tiny button success' %>
  <%- if current_user.admin? %>
    <%= link_to "Dashboard", settings_dashboard_path, class: 'right tiny button success' %>
  <% end %>
</div>
