<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Birdalbum - Tu Album Digital" %></title>

    <%= favicon_link_tag 'http://findicons.com/files/icons/1601/cute_critters/512/t9tuqui_trans.png' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/user_header_menu' %>

    <%= yield %>
    <%= javascript_include_tag "application" %>



    <%= render 'layouts/footer' %>

  </body>
</html>
